/* INDIVIDUAL COURSE */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.videoChapterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 10px;
}

.videoChapterContainer .videoChapterSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 70%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.videoChapterContainer .videoChapterSpace:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.videoChapterContainer .videoChapterSpace .chapterInfoTitleName {
  color: black;
  width: 90%;
  background-color: white;
}

.chapterInfosSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.chapterInfosSpace .chapterInfosContainer {
  width: 80%;
  height: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.chapterInfosSpace .chapterInfosContainer .chapterInfoDescriptionTitle {
  margin-left: 30px;
}

.chapterInfosSpace .chapterInfosContainer:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.chapterInfosSpace .chapterInfosContainer .chapterInfoDescription {
  display: flex;
  color: black;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  width: 95%;
  cursor: pointer;
  background-color: white;
}

.documentSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.documentSpace .documentSpaceTitle {
  margin-top: 20px;
}

.documentSpace .document {
  width: 100%;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: grid;
  justify-content: left;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.document .filePresent {
  margin-left: 15px;
}

.document .documentTitle {
  display: flex;
  color: black;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  width: 30%;
  cursor: pointer;
  background-color: white;
}

.fireBaseLink {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
