/* CREATE COURSE PAGE CSS */

.chapterFieldName {
  color: black;
}

.chapterEditionSpace {
  font-family: Roboto;
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.editChapterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 78vw;
  height: 300px;
  padding: 20px;
  color: white;
  border: none;
  background-color: white;
}

.editChapterContainer #inputEditCourseTitle {
  width: 400px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.editChapterContainer #inputEditCourseDescription {
  width: 1000px;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.editChapterContainer button {
  margin-top: 15px;
  width: 200px;
  height: 40px;
  border: none;
  background-color: #be98ed;
  border-radius: 5px;
  color: white;
}

.editChapterContainer button:hover {
  cursor: pointer;
  background-color: #8a49da;
}

span {
  color: red;
}

a:link {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
a:visited {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
a:hover {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
a:active {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin-right: 10px;
  color: black;
  font-weight: lighter;
}

.thumbnailContainer {
  text-align: left;
  color: black;
  width: 100%;
  padding-left: 20px;
}

.video-thumbnail img {
  width: 50%;
  border-radius: 3px;
}

.editDocumentSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 69%;
}

.editDocumentSpace .document {
  width: 100%;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: grid;
  justify-content: left;
  align-items: center;
}

.document .filePresent {
  margin-left: 15px;
}

.document .documentTitle {
  display: flex;
  color: black;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  width: 30%;
  cursor: pointer;
  background-color: white;
}

.document .fireBaseComponent {
  width: 55%;
  background-color: white;
}

.document .documentOptContainer {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  margin-right: 10px;
  width: 15%;
  background-color: white;
}

.document .documentOptContainer .documentDeleteButton {
  color: black;
  margin-left: 20px;
  cursor: pointer;
}

.addDocumentContainer {
  display: flex;
  place-items: left;
  flex-direction: column;
  width: 69%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addDocumentContainer button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: lightslategray;
  color: white;
  margin-top: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.addDocumentContainer input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  border: 2px solid lightgray;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
