/* FEED PAGE CSS */

main {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to top, #90a4ae, #c1d5e0cd),
    url(../assets/feed-banner.png) repeat top center;
}

.backgroundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.feedPage {
  font-family: Roboto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  background-color: #90a4ae;
  border: 1px solid #90a4ae;
  border-radius: 3px;
}

.feedPage .feedPageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #90a4aeea, #c1d5e072),
    url(../assets/social-media-icons.png) repeat center center;
  background-size: cover;
}

.feedPageTitle h1 {
  color: white;
}

.feedPage .post {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border: none;
  font-family: Roboto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .titlePostCard {
  flex: 20%;
  border-bottom: 1px solid #7d64fe;
  background-color: #7d64fe;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-left: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.post .bodyPostCard {
  flex: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
}

.post .infobar {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.infobar .profilenamePostCard {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #7d64fe;
}

.infobar .buttonsPost {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttnPost {
  color: #9370df;
}
.unlikeBttnPost {
  color: #2e1a7d;
}

.buttonsPost label {
  margin-right: 20px;
  margin-left: 10px;
  color: #4338ca;
}

.creatPostContainer {
  width: 500px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: 30px;
}

.creatPostContainer .addPostButton {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7d64fe;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
