/* LOGIN */

.forgotPassPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 400px;
}

.forgotPassPage .forgotPassContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.forgotPassContainer #inputForgotPass {
  outline: none;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 10px;
  font-size: 20px;
}

.forgotPassContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: darkgray;
  border-radius: 5px;
  color: white;
}

.forgotPassContainer button:hover {
  cursor: pointer;
  background-color: lightslategrey;
}

span {
  color: red;
}

a:link {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
a:visited {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
a:hover {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
a:active {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

label {
  color: black;
}
