/* INDIVIDUAL POST */

.postPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.postPage .postSpace {
  flex: 100%;
  display: flex;
  place-items: left;
  margin-left: 100px;
}

.postPage .postSpace .postContainer {
  width: 1200px;
  height: 300px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: none;
  font-family: Roboto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.postPage .postSpace .postContainer:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.postPage .postSpace .postContainer .title {
  font-size: 25px;
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: lightslategray;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  align-items: center;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.postPage .postSpace .postContainer .body {
  flex: 60%;
  display: flex;
  place-content: flex-start;
  align-items: center;
  padding-left: 15px;
  font-size: 25px;
}

.postPage .postSpace .postContainer .infobar {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: grid;
  align-items: center;
  padding-left: 15px;
  background-color: white;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.postPage .postSpace .infobar .profilename {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  color: #5f0f97bb;
}

.postPage .postSpace .infobar .editPostButton {
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background-color: #5f0f97bb;
  color: white;
  margin-right: 20px;
}

.commentsSpace {
  flex: 100%;
  display: flex;
  place-items: left;
  justify-content: flex-start;
  margin-left: 100px;
}

.commentsSpace .addCommentContainer {
  display: flex;
  place-items: left;
  flex-direction: column;
  margin-top: 50px;
}

.addCommentContainer button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: lightslategray;
  color: white;
  margin-top: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.addCommentContainer input {
  width: 450px;
  height: 50px;
  border-radius: 5px;
  border: none;
  border: 2px solid lightgray;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.commentsSpace .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 620px;
  height: 120px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

.comment .commentBody {
  display: flex;
  height: 50px;
  justify-content: flex-start;
  overflow: hidden;
}

.comment .commentOptContainer {
  display: flex;
  width: 570px;
}

.comment .commentOptContainer .commentUser {
  display: flex;
  width: 570px;
}

.comment .commentOptContainer .commentDelete {
  background-color: black;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
